@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oleo+Script+Swash+Caps&family=Permanent+Marker&family=Roboto:ital,wght@1,100&family=Rubik+Dirt&family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oleo+Script+Swash+Caps&family=PT+Sans+Narrow:wght@700&family=Permanent+Marker&family=Roboto:ital,wght@1,100&family=Rubik+Dirt&family=Rubik+Moonrocks&display=swap');

h1 {
    background-color: rgb(167, 138, 194);
    text-align: center;
    margin: 0%;
    font-size: 24px;
}

h3 {
    background-color: rgb(167, 138, 194);
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    
}

.navbar {
    background-color: #210c42c6 !important;
    padding: 10px;
    font-size: 18px !important;
}

.nrigth {
    background-color: rgb(167, 138, 194);
    background-size: cover;
    border: solid 1px violet;
    text-align: center;
    display: inline-block;
    padding: 20px;
   
}

.nleft {
    background-image: url(../Multimedia/nosotros.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    border: solid 1px violet;
}

div.container {
    background-image: url(../Multimedia/variedades.png);
}

div.container h2 {
    text-align: center;

}

div.row {
    font-family: 'PT Sans Narrow', sans-serif;
}

table.table.table-striped {
    font-family: 'PT Sans Narrow', sans-serif;
    border: solid 1px springgreen;
}

h2 {
    font-size: 22px;
}

div.nrigth.col-sm-6 {
    font-size: 20px;
}